.text2{
    width: 750px;
    font-size: 50px;
    position: relative;
    top: -650px;
    left: 100px;
    color: rgb(36, 37, 37);
    text-shadow:#c2c2c2 3px 3px 0px, rgba(0, 0, 0, 0.2) 6px 6px 0px;
}
 #knopka{
     width: 260px;
     height: 120px;
     background: rgba(106, 106, 107, 0.521);
     box-shadow: 5px 12px 6px 3px #888888bb;
     color: whitesmoke;
     overflow: hidden;
     font-size: 25px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-decoration-line: none;
     border-radius: 45%;
     cursor: pointer;
     position: absolute;
     top: 490px;
     left: 480px;
 }
 #knopka:hover{
    background: rgba(225, 225, 228, 0.521);
    color: rgb(129, 129, 129);
 }

 .text3{
    width: 750px;
    font-size: 30px;
    position: relative;
    top: -650px;
    left: 100px;
    color: rgb(255, 250, 250);
    text-shadow:#505050 3px 3px 0px, rgba(0, 0, 0, 0.2) 6px 6px 0px;
}

.input{
    border: 3px solid rgb(17, 16, 29);
    border-radius: 20%;
    width: 210px;
    height: 30px;
    position: relative;
}
 
.knopka2{
    border: 2px solid rgb(114, 114, 114);
    border: 3px solid rgb(17, 16, 29);
    border-radius: 20%;
    position: relative;
    box-shadow: 5px 12px 6px 3px #888888bb;
    font-size: 18px;
    background: rgba(1, 9, 22, 0.815);
    color: whitesmoke;
    cursor: pointer;
    position: relative;
    right: 160px;
    bottom: 25px;
}
.text4{
    width: 750px;
    font-size: 30px;
    position: relative;
    top: -460px;
    left: 100px;
    color: rgb(255, 250, 250);
    text-shadow:#505050 3px 3px 0px, rgba(0, 0, 0, 0.2) 6px 6px 0px;
}

.box1{
width: 270px;
height: 100px;
border-radius: 35%;
background: rgba(1, 1, 26, 0.514);
-webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
font-size: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
position: relative;
bottom: 30px;
left: 100px;
position:fixed;
color: rgb(219, 219, 219);
cursor: pointer;
text-decoration-line: none;
}
.box1:hover{
    background: rgba(1, 1, 26, 0.233);
}
.box2{
    width: 120px;
    height: 260px;
    border-radius: 35%;
    background: rgba(1, 1, 26, 0.514);
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 30px;
    left: 800px;
    position:fixed;
    color: rgb(219, 219, 219);
    cursor: pointer;
    text-decoration-line: none;
    }

.box2:hover{
        background: rgba(1, 1, 26, 0.233);
    }

.text5{
    width: 755px;
    font-size: 30px;
    position: relative;
    top: -650px;
    left: 100px;
    color: rgb(255, 250, 250);
    text-shadow:#505050 3px 3px 0px, rgba(0, 0, 0, 0.2) 6px 6px 0px;
}




.text6{
    width: 90px;
    font-size: 50px;
    position: relative;
    top: -600px;
    left: 100px;
    color: rgb(235, 236, 236);
    text-shadow:#c2c2c2 3px 3px 0px, rgba(0, 0, 0, 0.2) 6px 6px 0px;
}

.box3{
    background: rgba(1, 1, 26, 0.534);
    width: 650px;
    height: 310px;
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: -580px;
    left:60px;
    padding: 15px;
}



.text7{
    width: 605px;
    font-size: 30px;
    position: relative;
    top: -650px;
    left: 700px;
    color: rgb(255, 250, 250);
    text-shadow:#505050 3px 3px 0px, rgba(0, 0, 0, 0.2) 6px 6px 0px;
}


.input2{
    border: 3px solid rgb(17, 16, 29);
    border-radius: 20%;
    width: 210px;
    height: 30px;
    position: fixed;
}

.box4{
    width: 120px;
height: 50px;
border-radius: 35%;
background: rgba(1, 1, 26, 0.514);
-webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
font-size: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
position: fixed;
color: rgb(219, 219, 219);
cursor: pointer;
text-decoration-line: none;
}
.box4:hover{
    background: rgba(1, 1, 26, 0.233);
}
.text8{
    color: white;
    font-size: 30px;
    position: fixed;
    width: 450px;
    height: 40px;
}