#section1 {
    width: 200px;
    height: 100ch;
    float: left;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    position: fixed;
    left: 0;
}

#section2 {
    width: 1148px;
    height: 100ch;
    float: right;
    margin-left: 200px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.conteiner {
    width: auto;
    overflow: hidden;
}

.row {
    width: auto;
    height: 25%;
    display: block;
    justify-content: center;
    border-bottom: 1px solid rgb(184, 183, 183);
    box-shadow: inset -3px 3px 5px -5px powderblue;
}
.row2 {
    width: auto;
    display: flex;
    flex-direction: column;
    background-image: url(img/depositphotos_52266229-stock-illustration-exercise-book-in-a-ruler.jpg);
    background-size: cover;
}

.col1 {
    width: auto;
    display: flex;
    margin-top: 2px;
}
.col1:hover {
    background-color: whitesmoke;
    border-left: 4px solid green;
    transition: all 0.4s ease;
}

.col2 {
    width: auto;
    display: flex;
    margin-top: 2px;
    overflow: hidden;
}

.col2:hover {
    background-color: whitesmoke;
    border-left: 4px solid blue;
    transition: all 0.4s ease;
}

.col3 {
    width: auto;
    display: flex;
    margin-top: 2px;
}

.col3:hover {
    background-color: whitesmoke;
    border-left: 4px solid blueviolet;
    transition: all 0.4s ease;
}

.col4 {
    width: auto;
    display: flex;
    margin-top: 2px;
}

.col4:hover {
    background-color: whitesmoke;
    border-left: 4px solid yellow;
    transition: all 0.4s ease;
}

.col5 {
    width: auto;
    display: flex;
    margin-top: 2px;
}

.col5:hover {
    background-color: whitesmoke;
    border-left: 4px solid rgb(70, 6, 6);
    transition: all 0.4s ease;
}

.col6 {
    width: auto;
    display: flex;
    margin-top: 2px;
}

.col6:hover {
    background-color: whitesmoke;
    border-left: 4px solid goldenrod;
    transition: all 0.4s ease;
}

.col7 {
    width: auto;
    display: flex;
    margin-top: 2px;
}

.col7:hover {
    background-color: whitesmoke;
    border-left: 4px solid grey;
    transition: all 0.4s ease;
}

.row3 {
    width: 1148px;
    background-color: rgba(255, 255, 255, 0.774);
    height: auto;
    display: block;
}

ul {
    width: 1148px;
    height: 670px;
    margin: 0%;
    background-image: url(img/men2.jpg);
    background-size: cover;
}
.ulphoto{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    display: block;
    justify-content: center;
}
.ulvaxt{
    font-size: 80px;
    color: rgba(255, 255, 255, 0.719);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: -65px;
    left: 323px;
    text-decoration: line-through;
    text-decoration: solid;
    
}
.ulsoz{
    height: 200px;
    width: 800px;
    position: relative;
    top: -30px;
    left: 60px;
}
.ulkv{
    background:#0080738a;
    width: 180px;
    height: 60px;
    position: relative;
    left: 235px;
    top: 55px;
}
.ullin{
    background: #008073b0;
    width: 620px;
    height: 5px;
    position: relative;
    left: 150px;
    top: 190px;
}
.ulabout{
    width: auto;
    height: 550px;
    display: block;
}
.ul1 {
    width: auto;
    height: 800px;
    display: block;
}
.ulproject{
    width: auto;
    height: 800px;
    display: block;
}
.ul4{
    width: auto;
    height: 350px;
    display: flex;
}
.ul4first{
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 80px;
    top: 80px;
    box-shadow: 0px 4px 13px 1px grey;
    display: block;
}
.ul4second {
    position: relative;
   left: 250px;
   top:70px;
    width: 220px;
    height: 220px;
    background-image: url(img/dia2.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 3px 21px 3px grey;
}

.ul1firsttext {
    width: 1000px;
    height: 100px;
    color: rgb(66, 37, 3);
    border-left: 5px solid rgb(49, 27, 1);
    position: relative;
    left: 30px;
    top: 15px;
}

.ul1secondtext {
    width: 680px;
    height: 100px;
    position: relative;
    left: 30px;
    font-size: 20px;
    color: black;
}
.ul1secondtext2{
    width: 680px;
    height: 100px;
    position: relative;
    left: 58px;
    bottom: 20px;
    font-size: 20px;
    color: black;
}
.ul1secondtext3{
    width: 700px;
    height: 100px;
    position: relative;
    left: 58px;
    top: 15px;
    font-size: 20px;
    color: black;
}
.ul1third{
    color: rgb(49, 27, 1);
    position: relative;
    width: 500px;
    height: 40px;
    left: 160px;
    top: 60px;
    font-size: 22px;

}

#about {
    width: auto;
}

.col8 {
    display: flex;
    justify-content: center;
    height: 100px;
    background: #008073;
    width: 1300px;
}

#projects {
    width: auto;
}

#skills {
    width: auto;
}

#education {
    width: auto;
}
#contact{
    width: auto;
}
.ul1second {
    width: 1100px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 30px;
    display: flex;

}

.ming {
    width: 230px;
    height: 250px;
    position:relative;
    left: 80px;
    background-size: cover;
    box-shadow: 1px 3px 15px 4px grey;
    overflow: hidden;
    background-image: url(img/Minqechevir.png);
    
}
.ming:hover{
    box-shadow: 0px 3px 21px 3px grey;
    height: 310px;
    width: 280;
    transition: all 3.5s ease;
}
.mingici{
    background-color: rgba(0, 0, 0, 0.336);
    height: 250px;
    width: 230px;
}
.mingici:hover{
    height: 310px;
    width: 280;
    background-color: rgba(255, 255, 255, 0.048);
    transition: all 3.5s ease;
}
.facultyandspeciality{
    width: 220px;
    height: 30px;
    display: flex;
    position: relative;
    left: 15px;
}
.projectclass{
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    grid-template-rows: 350px 350px 350px;
    grid-gap: 30px;
    position: relative;
    top: 30px;
    left: 100px;
}
.classfirststep{
    display: block;
    box-shadow: 0px 4px 13px 1px grey;
}
.classfirststep1{
    background-image: url(img/quest.png);
    background-size: cover;
    width: auto;
    height: 200px;
}
.classfirststep2{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 150px;
    display: block;
    overflow: hidden;
}

.classfirststep2-1{
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: relative;
    top: 15px;
}
.classfirststep2-1text{
    color: #008073;
    width: 470px;
    position: relative;
    left: 15px;
    font-weight: lighter;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.classfirststep2-1icon{
    width: 30px;
    height: 30px;
    color: #008073;
    font-size: 2.5ch;
    position: relative;
    right: 20px;
    top: 10px;
}
.classfirststep2-2{
height: 110px;
width: 250px;
position: relative;
left: 15px;
font-size: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
position: relative;
    top: 5px;
}

.skilss{
        width: auto;
        height: 800px;
        display: grid;
        grid-template-rows: 200px 200px 200px;
        grid-gap: 60px;
}

.skilss1{
    background-color: rgb(255, 255, 255);
    width: 900px;
    position: relative;
    left: 80px;
    top: 35px;
    box-shadow: 0px 4px 13px 1px grey;
}
.skilss1-1{
    
}