.text1 {
    font-size: 2.1vw;
    color: #008073;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    
}

.text2 {
    font-size: 1.1vw;
    color: rgb(66, 64, 64);
    margin-left: 10px;
}

.text3 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 39%;
    top: 35px;
    font-size: 40px;
    text-transform: uppercase;
}
.text4{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 37%;
    top: 35px;
    font-size: 40px;
    text-transform: uppercase;
}
.text5{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 36%;
    top: 35px;
    font-size: 40px;
    text-transform: uppercase;
}
.left1 {
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: rgb(88, 87, 87);
    margin-left: 13px;
}

body {
    background-image: url(img/58234e99d7cb515849eb091c.jpg);
    margin: 0%;
    display: flex;
}

.icon1 {
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: green;
    margin-left: 12px;
}

.icon2 {
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: blue;
    margin-left: 10px;
}

.icon3 {
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: blueviolet;
    margin-left: 10px;
}

.icon4 {
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: yellow;
    margin-left: 10px;
}

.icon5 {
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: rgb(70, 6, 6);
    margin-left: 10px;
}

.icon6 {
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: goldenrod;
    margin-left: 10px;
}

.icon7 {
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: grey;
    margin-left: 10px;
}
h3{
    color: #008073;
    width: 470px;
    text-decoration: underline;
    position: relative;
    left: 15px;
    font-weight: lighter;
}
h4{
    font-weight:lighter;
    position: relative;
    left: 15px;
    bottom: 5px;
}
.dot{
    font-size: 10px;
    color: rgb(44, 43, 43);
    position: relative;
    top: 3px;
}
.dottext{
    position: relative;
    left: 10px;
    font-size: 17px;
    font-weight: lighter;
    color: rgb(15, 15, 15);
}
.textulphoto{
    position: relative;
    left: 80px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.808);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    position: relative;
}