<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Berlin</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
</head>
<body style="margin: 0px; height: 669px;">
    <img src="{{ url_for('static',filename='img/fon4.jpeg')}}" alt="" width="1380px" height="669px">
    <div class="text6">Amsterdam</div>
    <div class="box3">There are no curtains or curtains in the windows of Amsterdam apartments. The roots of this tradition lie in the Middle Ages, when the Spanish governor, the Duke of Alba (yes, at one time Holland was under the Spanish yoke), fearing conspiracies and revolutions, demanded openness and transparency from residents. <br> <br> Officially Oude Kerk, Amsterdam's old church can be rented for a dinner, exhibition, concert or any other private event.</div>
</body>
</html>