<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Athens</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body style="margin: 0px; height: 669px;">
    <img src="{{ url_for('static',filename='img/fon4.jpeg')}}" alt="" width="1380px" height="669px">
    <div class="text5">Athens</div>
    <div class="box3">IIt is known that the name was given to the city in honor of the ancient Greek goddess of wisdom
        and beauty Athena, the patroness of warriors. However, there is a legend according to which Poseidon was her
        rival in the struggle for the right to be the patron of the city. Legend has it that in an attempt to win the
        favor of the inhabitants, Athena brought them an olive tree as a gift, while Poseidon offered water. The initial
        choice was made in favor of water. However, it turned out to be salty and not suitable for consumption, after
        which people chose Athena's gift. So the goddess became the patroness of the city for centuries. </div>

</body>

</html>