<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Baku</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body style="margin: 0px; height: 669px;">
    <img src="{{ url_for('static',filename='img/fon4.jpeg')}}" alt="" width="1380px" height="669px">
    <div class="text5">Baku</div>
    <div class="box3">In 1926, the first electric train in the Soviet Union was launched in Azerbaijan. <br><br>Not far
        from Baku there is Yanardag Mountain, the name of which is translated from Azerbaijani as "Burning Mountain".
        One of its crests really burns because of the natural gas coming out of this place from the ground.</div>

</body>

</html>