<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Berlin</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
</head>
<body style="margin: 0px; height: 669px;">
    <img src="{{ url_for('static',filename='img/fon4.jpeg')}}" alt="" width="1380px" height="669px">
    <div class="text6">Berlin</div>
    <div class="box3"><br><br>A significant number of hydrangea thefts have been reported in the Schmöckwitz area. Cause? After the leaves and petals are dried, the plant will have the same properties as marijuana, by the way, there is a cannabis museum in the German capital.</div>

</body>
</html>