<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Jerusalem</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body style="margin: 0px; height: 669px;">
    <img src="{{ url_for('static',filename='img/fon4.jpeg')}}" alt="" width="1380px" height="669px">
    <div class="text5">Jerusalem</div>
    <div class="box3">The most expensive cemetery in the world is located here. The burial site is worth millions of
        dollars. <br> <br> Jerusalem syndrome is a rare mental disorder, a kind of delusion of grandeur and the delusion
        of messianism, in which a person who comes to Jerusalem can feel like a prophet, savior of the world or a
        biblical character. This phenomenon is regarded as psychosis and leads to compulsory treatment in a mental
        hospital.</div>
</body>

</html>