<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Moscow</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body style="margin: 0px; height: 669px;">
    <img src="{{ url_for('static',filename='img/fon4.jpeg')}}" alt="" width="1380px" height="669px">
    <div class="text5">Moscow</div>
    <div class="box3">Station names in the metropolitan subway are announced by either a male or a female voice. And
        here is a pattern: when you drive from the center along any "diameter" of the line or counterclockwise along the
        circular line, you hear a woman's voice. The names when moving to the center on "diametrical" and clockwise on
        the circular line are announced by a man. It helps people who are blind. <br> <br> Until the 16th century, even
        the richest Moscow houses did not have glass. Instead, mica plates or fish bubbles were used.</div>

</body>

</html>