<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Paris</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body style="margin: 0px; height: 669px;">
    <img src="{{ url_for('static',filename='img/fon4.jpeg')}}" alt="" width="1380px" height="669px">
    <div class="text5">Paris</div>
    <div class="box3">In the 18th century, the cemeteries of the ever-growing city of Paris lacked space. Some of the
        bodies were not properly buried and spread the disease. Ultimately, Parisian officials decided to ban city
        cemeteries and move the remains that were on them to another location.<br> Officials drew attention to several
        underground quarries in the city. Between the 1780s and 1814, the authorities were able to organize the
        underground transport of more than six million bodies collected from all cemeteries in Paris, transporting the
        dead with carts and placing them in their final resting place. </div>
</body>

</html>