<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Tokyo</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body style="margin: 0px; height: 669px;">
    <img src="{{ url_for('static',filename='img/fon4.jpeg')}}" alt="" width="1380px" height="669px">
    <div class="text5">Tokyo</div>
    <div class="box3">The water in the street canals in Japan is very clean, no garbage is dumped into it, and no sewage
        gets into it. In terms of quality, it is even better than tap water, and fish swim in it. The groundwater that
        flows into these channels can be used to cool drinks and prepare food. This system is called kabata. In Shiga
        prefecture, the channels have different heights - in the lower part of them they wash dishes, and fish feed on
        the remains of food. And if you leave a dirty plate for 3 hours, then you won't have to wash it: the carps will
        eat everything without a trace.<br>Such channels are also a landmark in Japan.</div>
</body>

</html>